<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="data:," />
    <title>Turnover by Type</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&family=Merriweather:wght@600;700&display=swap"
      rel="stylesheet"
    />
    <style>
      body {
        margin: 0;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #e8ebe8;
        font-family: Inter, system-ui, sans-serif;
      }

      .plugin-frame {
        width: 415.87px;
        height: 130.85px;
        position: relative;
        transform: scale(1.75);
        transform-origin: center center;
      }

      .plugin-root {
        width: 100%;
        height: 100%;
        position: relative;
      }

      /* Legend text: plugin width 28.61px clips; keep positions, allow natural width */
      .legend-label {
        width: auto !important;
        min-width: 28.61px;
        white-space: nowrap;
      }
      html.hero-embed body {
        background: transparent !important;
        min-height: auto !important;
        display: block !important;
        padding: 6px 0 6px 6px !important;
      }
      html.hero-embed .plugin-frame {
        transform: none !important;
        transform-origin: top left !important;
      }
      html.hero-embed .hero-assemble-footer {
        display: none !important;
      }
    </style>
    <script>
      if (new URLSearchParams(location.search).has("embed")) {
        document.documentElement.classList.add("hero-embed");
      }
    </script>
  </head>
  <body>
    <div class="plugin-frame" aria-label="Turnover by Type component">
      <div class="plugin-root" data-name="Turnover by Type" data-node-id="1436:26872">
        <div
          style="
            width: 415.87px;
            height: 130.85px;
            left: 0px;
            top: 0px;
            position: absolute;
            background: #fffeff;
            box-shadow: -4.291455268859863px 4.291455268859863px 0px #64b100;
            border-radius: 6.99px;
            border: 0.72px #2e7918 solid;
          "
        ></div>
        <div
          style="
            left: 12.23px;
            top: 7.32px;
            position: absolute;
            color: #2e7918;
            font-size: 11.47px;
            font-family: Merriweather, Georgia, serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Turnover by Type
        </div>
        <div
          style="
            width: 12.21px;
            left: 21.14px;
            top: 34.78px;
            position: absolute;
            text-align: right;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          1000
        </div>
        <div
          style="
            width: 12.21px;
            left: 21.14px;
            top: 71.22px;
            position: absolute;
            text-align: right;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          500
        </div>
        <div
          style="
            width: 12.21px;
            left: 21.14px;
            top: 107.31px;
            position: absolute;
            text-align: right;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          0
        </div>
        <!-- Gridlines: 1px fills (reliable vs outline on height 0) -->
        <div
          style="
            width: 361.93px;
            height: 1px;
            left: 39.18px;
            top: 37.69px;
            position: absolute;
            background: #e4e3e0;
          "
        ></div>
        <div
          style="
            width: 361.93px;
            height: 1px;
            left: 39.18px;
            top: 74.14px;
            position: absolute;
            background: #e4e3e0;
          "
        ></div>
        <div
          style="
            width: 361.93px;
            height: 1px;
            left: 39.18px;
            top: 110.59px;
            position: absolute;
            background: #e4e3e0;
          "
        ></div>
        <!-- Voluntary (green tops) -->
        <div
          style="
            width: 24.24px;
            height: 32.99px;
            left: 42.28px;
            top: 44.62px;
            position: absolute;
            background: #599d15;
            border-top-left-radius: 1.64px;
            border-top-right-radius: 1.64px;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 32.99px;
            left: 72.53px;
            top: 44.62px;
            position: absolute;
            background: #599d15;
            border-top-left-radius: 1.64px;
            border-top-right-radius: 1.64px;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 29.52px;
            left: 102.78px;
            top: 51.91px;
            position: absolute;
            background: #599d15;
            border-top-left-radius: 1.64px;
            border-top-right-radius: 1.64px;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 29.52px;
            left: 133.03px;
            top: 51.91px;
            position: absolute;
            background: #599d15;
            border-top-left-radius: 1.64px;
            border-top-right-radius: 1.64px;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 32.8px;
            left: 163.29px;
            top: 44.8px;
            position: absolute;
            background: #599d15;
            border-top-left-radius: 1.64px;
            border-top-right-radius: 1.64px;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 32.8px;
            left: 193.54px;
            top: 44.8px;
            position: absolute;
            background: #599d15;
            border-top-left-radius: 1.64px;
            border-top-right-radius: 1.64px;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 36.81px;
            left: 223.79px;
            top: 37.33px;
            position: absolute;
            background: #599d15;
            border-top-left-radius: 1.64px;
            border-top-right-radius: 1.64px;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 36.81px;
            left: 254.04px;
            top: 37.33px;
            position: absolute;
            background: #599d15;
            border-top-left-radius: 1.64px;
            border-top-right-radius: 1.64px;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 32.99px;
            left: 284.29px;
            top: 44.62px;
            position: absolute;
            background: #599d15;
            border-top-left-radius: 1.64px;
            border-top-right-radius: 1.64px;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 32.99px;
            left: 314.55px;
            top: 44.62px;
            position: absolute;
            background: #599d15;
            border-top-left-radius: 1.64px;
            border-top-right-radius: 1.64px;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 32.99px;
            left: 344.8px;
            top: 44.62px;
            position: absolute;
            background: #599d15;
            border-top-left-radius: 1.64px;
            border-top-right-radius: 1.64px;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 36.81px;
            left: 375.05px;
            top: 37.33px;
            position: absolute;
            background: #599d15;
            border-top-left-radius: 1.64px;
            border-top-right-radius: 1.64px;
          "
        ></div>
        <!-- Involuntary (blue bottoms) -->
        <div
          style="
            width: 24.24px;
            height: 32.26px;
            left: 42.28px;
            top: 77.97px;
            position: absolute;
            background: #1599d3;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 32.26px;
            left: 72.53px;
            top: 77.97px;
            position: absolute;
            background: #1599d3;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 28.43px;
            left: 102.78px;
            top: 81.79px;
            position: absolute;
            background: #1599d3;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 28.43px;
            left: 133.03px;
            top: 81.79px;
            position: absolute;
            background: #1599d3;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 32.26px;
            left: 163.29px;
            top: 77.97px;
            position: absolute;
            background: #1599d3;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 32.26px;
            left: 193.54px;
            top: 77.97px;
            position: absolute;
            background: #1599d3;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 35.72px;
            left: 223.79px;
            top: 74.51px;
            position: absolute;
            background: #1599d3;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 35.72px;
            left: 254.04px;
            top: 74.51px;
            position: absolute;
            background: #1599d3;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 32.26px;
            left: 284.29px;
            top: 77.97px;
            position: absolute;
            background: #1599d3;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 32.26px;
            left: 314.55px;
            top: 77.97px;
            position: absolute;
            background: #1599d3;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 32.26px;
            left: 344.8px;
            top: 77.97px;
            position: absolute;
            background: #1599d3;
          "
        ></div>
        <div
          style="
            width: 24.24px;
            height: 35.72px;
            left: 375.05px;
            top: 74.51px;
            position: absolute;
            background: #1599d3;
          "
        ></div>
        <!-- Month labels -->
        <div
          style="
            width: 28.61px;
            left: 39.91px;
            top: 114.78px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Jan
        </div>
        <div
          style="
            width: 28.61px;
            left: 70.34px;
            top: 114.78px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Feb
        </div>
        <div
          style="
            width: 28.61px;
            left: 100.78px;
            top: 114.78px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Mar
        </div>
        <div
          style="
            width: 28.61px;
            left: 130.85px;
            top: 114.78px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Apr
        </div>
        <div
          style="
            width: 28.61px;
            left: 160.92px;
            top: 114.78px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          May
        </div>
        <div
          style="
            width: 28.61px;
            left: 190.99px;
            top: 114.78px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Jun
        </div>
        <div
          style="
            width: 28.61px;
            left: 221.06px;
            top: 114.78px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Jul
        </div>
        <div
          style="
            width: 28.61px;
            left: 251.13px;
            top: 114.78px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Aug
        </div>
        <div
          style="
            width: 28.61px;
            left: 281.2px;
            top: 114.78px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Sep
        </div>
        <div
          style="
            width: 28.61px;
            left: 311.27px;
            top: 114.78px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Oct
        </div>
        <div
          style="
            width: 28.61px;
            left: 341.33px;
            top: 114.78px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Nov
        </div>
        <div
          style="
            width: 28.61px;
            left: 371.4px;
            top: 114.78px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
          "
        >
          Dec
        </div>
        <!-- Legend swatches then labels (labels paint on top) -->
        <div
          style="
            width: 4.37px;
            height: 4.19px;
            left: 179.32px;
            top: 24.94px;
            position: absolute;
            background: #599d15;
            border-radius: 0.91px;
          "
        ></div>
        <div
          style="
            width: 4.37px;
            height: 4.19px;
            left: 212.49px;
            top: 24.94px;
            position: absolute;
            background: #1599d3;
            border-radius: 0.91px;
          "
        ></div>
        <div
          class="legend-label"
          style="
            left: 181.69px;
            top: 24.21px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
            z-index: 1;
          "
        >
          Voluntary
        </div>
        <div
          class="legend-label"
          style="
            left: 217.23px;
            top: 24.21px;
            position: absolute;
            text-align: center;
            justify-content: center;
            display: flex;
            flex-direction: column;
            color: #48413f;
            font-size: 4.74px;
            font-family: Inter, sans-serif;
            font-weight: 600;
            word-wrap: break-word;
            z-index: 1;
          "
        >
          Involuntary
        </div>
      </div>
    </div>
    <p
      class="hero-assemble-footer"
      style="position: fixed; bottom: 8px; left: 0; right: 0; text-align: center; font-size: 12px; color: #666"
    >
      Reference:
      <a href="turnover-by-type-reference.png" style="color: #2e7918">turnover-by-type-reference.png</a>
      · Figma <code>1436:26872</code>
    </p>
    <script>
      if (new URLSearchParams(location.search).has("embed")) {
        document.documentElement.classList.add("hero-embed");
      }
    </script>
    <style>
      html.hero-embed .hero-assemble-footer {
        display: none !important;
      }
    </style>
  </body>
</html>
